.bg-ivysaur {
  background: url("/svgs/waves/grass.svg"), url("/svgs/bg-balls.svg"),
    linear-gradient(180deg, #98ff70 0%, #308719 100%);
  background-size: 101%;
  background-position: center bottom, center;
  background-repeat: no-repeat;
  color: #fff;
  .bg-color {
    color: #fff;
  }
}

.bg-squirtle {
  background: url("/svgs/waves/water.svg"), url("/svgs/bg-balls.svg"),
    linear-gradient(180deg, #abeafe 0%, #267aa5 100%);
  background-size: 101%;
  background-position: center bottom, center;
  background-repeat: no-repeat;
  color: #fff;
  .bg-color {
    color: #fff;
  }
}

.bg-mewtwo {
  background: url("/svgs/waves/psychic.svg"), url("/svgs/bg-balls.svg"),
    linear-gradient(180deg, #a06b9a 0%, #492e47 100%);
  background-size: 101%;
  background-position: center bottom, center;
  background-repeat: no-repeat;
  color: #fff;
  .bg-color {
    color: #fff;
  }
}

.bg-lucario {
  background: url("/svgs/waves/fighting.svg"), url("/svgs/bg-balls.svg"),
    linear-gradient(180deg, #3b87bd 0%, #183f67 100%);
  background-size: 101%;
  background-position: center bottom, center;
  background-repeat: no-repeat;
  color: #fff;
  .bg-color {
    color: #fff;
  }
}

.bg-jigglypuff {
  background: url("/svgs/waves/normal.svg"), url("/svgs/bg-balls.svg"),
    linear-gradient(180deg, #f4bec4 0%, #eb8591 100%);
  background-size: 101%;
  background-position: center bottom, center;
  background-repeat: no-repeat;
  color: #1a2530;
  .bg-color {
    color: #1a2530;
  }
}

.bg-pikachu {
  background: url("/svgs/waves/electric.svg"), url("/svgs/bg-balls.svg"),
    linear-gradient(180deg, #ffec52 0%, #edce36 100%);
  background-size: 101%;
  background-position: center bottom, center;
  background-repeat: no-repeat;
  color: #1a2530;
  .bg-color {
    color: #1a2530;
  }
}

.bg-pichu {
  background: url("/svgs/waves/electric.svg"), url("/svgs/bg-balls.svg"),
    linear-gradient(180deg, #fff078 0%, #edce36 100%);
  background-size: 101%;
  background-position: center bottom, center;
  background-repeat: no-repeat;
  color: #1a2530;
  .bg-color {
    color: #1a2530;
  }
}

.bg-charizard {
  background: url("/svgs/waves/fire.svg"), url("/svgs/bg-balls.svg"),
    linear-gradient(180deg, #ff8a00 0%, #ff3600 100%);
  background-size: 101%;
  background-position: center bottom, center;
  background-repeat: no-repeat;
  color: #fff;
  .bg-color {
    color: #fff;
  }
}

.bg-greninja {
  background: url("/svgs/waves/water.svg"), url("/svgs/bg-balls.svg"),
    linear-gradient(180deg, #4f579d 0%, #272f5e 100%);
  background-size: 101%;
  background-position: center bottom, center;
  background-repeat: no-repeat;
  color: #fff;
  .bg-color {
    color: #fff;
  }
}

.bg-lugia {
  background: url("/svgs/waves/psychic.svg"), url("/svgs/bg-balls.svg"),
    linear-gradient(180deg, #cbd5e1 0%, #53627c 100%);
  background-size: 101%;
  background-position: center bottom, center;
  background-repeat: no-repeat;
  color: #1a2530;
  .bg-color {
    color: #1a2530;
  }
}
