@import "~bootstrap/scss/bootstrap";
@import "react-alice-carousel/lib/scss/alice-carousel.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,300;1,500;1,700;1,800;1,900&display=swap");
@import "/src/components/ButtonPrimary/style.scss";
@import "/src/components/ButtonSecondary/style.scss";
@import "/src/components/Waves/style.scss";
@import "/src/components/CardPoke/style.scss";
@import "/src/components/CardPokemon/style.scss";
@import "/src/components/CardPokedex/style.scss";
@import "/src/components/StatusBar/style.scss";
@import "/src/components/HomePokemon/style.scss";
@import "/src/components/Paginate/style.scss";
@import "./[pokemon]/style.scss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden !important;
  user-select: none;
  background: #000;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

button {
  background: none;
  border: none;
  padding: 0;
}

.link {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  padding: 12px 0;
}

.button-back-top {
  position: fixed;
  bottom: 8px;
  right: 8px;
  padding: 8px;
}

.button-types {
  background: none;
  border: none;
  width: fit-content;
}

.button-share-box {
  position: fixed;
  bottom: 6px;
  left: 6px;
  background: #00000050;
  backdrop-filter: blur(15px);
  border-radius: 100px;
  padding: 6px;
  z-index: 1000;
}

.button-share {
  background: none;
  border: none;
  color: #fff;
}

.button-pokeball {
  position: fixed;
  left: 8px;
  bottom: 8px;
  z-index: 100;
}

.bg-forest {
  background-image: url("/svgs/bg-forest.svg");
  background-size: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.capitalize {
  text-transform: capitalize;
}

.disabled {
  user-select: none;
  pointer-events: none;
  opacity: 0.5;
}

h1 {
  font-family: Montserrat;
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

h2 {
  font-family: Montserrat;
  font-size: clamp(1.5rem, 5vw, 2rem);
  font-weight: 600;
  line-height: normal;
}

p {
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  line-height: 120%;
  margin: 0;
}

.main-card {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(6, 11, 21, 0.6);
  backdrop-filter: blur(10px);
  color: #fff;
}

.main-card-scroll-x {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 50px;
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(6, 11, 21, 0.8);
  backdrop-filter: blur(10px);
  color: #fff;
  button {
    background: none;
    border: none;
  }
}

.main-input {
  display: flex;
  align-items: center;
  color: #fff;
  height: 50px;
  width: 100%;
  border-radius: 12px 0 0 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(6, 11, 21, 0.8);
  backdrop-filter: blur(10px);
  padding: 12px;
  &:hover,
  &:active,
  &:focus {
    outline: 2px solid #003f58;
  }
}

.notiflix-block {
  border-radius: 42px !important;
  backdrop-filter: blur(15px);
  border: 1px solid #ffffff20;
}

//animations
.slide-in-top {
  -webkit-animation: slide-in-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.shake-bottom {
  -webkit-animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    infinite both;
  animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
    both;
}

@-webkit-keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.slide-out-top {
  -webkit-animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
.fade-in-top {
  -webkit-animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
