.button-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-decoration: none;
  background: rgba(6, 11, 20, 0.8);
  backdrop-filter: blur(10px);
  width: fit-content;
  padding: 12px 32px;
  color: #fff;
  transition: 0.2s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}
