.pokemon-page-home {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center left, right center;
  background-size: 40%, auto;
  background-repeat: no-repeat;
  background-color: #00000050;
}
